html ,body {
  width: 100%;
  height: 100%;
  background-color: black;
}


#root {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  color: white;

  display: flex;

  position: relative;
  overflow: hidden;
}
#selection-list {
  flex: 2;
  width: 20%;
}

#canvas-container {
  flex: 8;
  width: 610%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #181818;
}
#canvas {
  background-color: white;
  position: relative;
  overflow: hidden;
}


#status-area {
  flex: 2;
  padding: 0 4px 0 4px;
}
#status-area #status-area-title { 
  padding: 0 10px 0 10px ;
}




.rect-entity {
  position: absolute;
}

.inline-input {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inline-input  input{
  width: 50px;
  height: min-content;
  text-align: center;
}


.component {
  color: white;
  
  padding: 0 0 10px 0;


  background-color: #101010;
  margin-bottom: 10px;

}
.component .title {
  padding: 5px 20px 5px 20px;
  margin: 0 0 15px 0;
  font-weight: bold;
  background-color: #131313;
  box-shadow: #202020 0px 2px 0px;
}
.component .title-icon {
  display: flex;
  justify-content: space-between;
  box-shadow: #202020 0px 2px 0px;
  padding: 5px 20px 0 20px;
  margin: 0 0 15px 0;
}
.component .title-icon p {
  font-weight: bold;
  background-color: #131313;
  padding: 0;
  margin: 0;
}
.component .title-icon img {
  cursor: pointer;
}

.component-props-row {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  flex-wrap: wrap;

  padding: 0 20px 0 20px;
  border: 1px white ;
}
.component-props-row p{ 
  margin: 5px 0;
  width: 10px;
}


.component .scripts {
  padding: 5px 20px 5px 20px;
}

.script-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 15px 0 ;
}
.script-view p {
  cursor: pointer;
  padding: 0;
  margin: 0 ;
}
.script-view img {
  cursor: pointer;
}


#code-editor {
  position: absolute;

  top: 100px;
  left: 100px;

  width: 300px;
  height: 300px;
  background-color: rgb(50, 50, 150);
  border: solid white 2px;
}

#code-editor .remove-icon {
  transform: rotate(45deg);
  cursor: pointer;
}

.more-icon {
  position: relative;
}
.popup-menu {
  position: absolute;
  width: 80px;
  padding: 2px 0 2px 0;
  font-size: 14px;
  font-weight: bold;
  right: 0;
  top: 0;


  background-color: white;
  outline: solid 2px rgb(210, 210, 210);
  color: black;

}
.popup-menu p { 
  cursor: pointer;
  margin: 0 0 0 0;
  padding: 5px 10px 5px 10px;
}

.popup-menu p:hover { 
  background: rgb(220, 220, 220)
}
